<header class="navbar navbar-inverse">
  <div class="container">
    <%= link_to "EASYPARKING", home_index_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Información General", head_info_path %></li>
        <li><%= link_to "Preguntas y Respuestas", head_pregyresp_path %></li>
        <li><%= link_to "Términos y Condiciones", head_termycond_path %></li>
        <li><%= link_to "Ingresar", user_login_path %></li>
      </ul>
    </nav>
  </div>
</header>