
<div class="container">
  <div class="main">
    <div class="row">
      <div class="col-xs-4 col-xs-offset-4">
        
        <%= bootstrap_devise_error_messages! %>
        
        <div class="form-account">
          
          <div class="form-heading">
            <h4><%= t('.sign_up', :default => "Sign up") %></h4>
          </div><!--/ .form-heading-->
          
          
          <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: { role: "form" }) do |f| %>
            <div class="form-entry">
            <p>
              <%= f.label :name %>
              <%= f.text_field :name, autofocus: true, class: "form-control" %>
            </p>
            
            <p>
              <%= f.label :email %>
              <%= f.email_field :email, autofocus: true, class: "form-control" %>
            </p>
            
            <p>
              <%= f.label :password %><br />
              <%= f.password_field :password, class: "form-control" %>
            </p>
            
            <p>
              <%= f.label :password_confirmation %>
              <%= f.password_field :password_confirmation, class: "form-control" %>
            </p>
            
            <p>
              <%= f.submit t('.sign_up', :default => "Sign up"), class: "btn btn-primary" %>
            </p>
            
            <p>
              <%= render "devise/shared/links" %>
            </p>
            
            </div>
          <% end %>
          
        </div>

      </div>
    </div>
  </div>
</div>
