
<div class="container">
  <div class="main">
    <div class="form-account">
      
      <div class="form-heading">
        <h3>Register now for Car Dealer</h3>
      </div><!--/ .form-heading-->
      
      <div class="form-entry">
        <p>
          <!--<label>Username:</label>-->
          <!--<input type="text">-->
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, class: "form-control" %>
        </p>
        <p>
          <!--<label>Your Email:</label>-->
          <!--<input type="text">-->
          <%= f.label :password %>
          <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
        </p>
        <p class="wrong">A password will be e-mailed you. </p>
        <a href="#" class="button orange">Sign Up</a>
      </div><!--/ .form-entry-->
      
    </div>
  </div>
</div>

<div class="panel panel-default devise-bs">
  <div class="panel-heading">
    <h1>Ingresar al sistema</h1>
  </div>
  <div class="panel-body">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { role: "form" }) do |f| %>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
      </div>
      <% if devise_mapping.rememberable? %>
        <div class="checkbox">
          <%= f.label :remember_me do %>
            <%= f.check_box :remember_me %>remember me
          <% end %>
        </div>
      <% end %>
      <%= f.submit  t('.sign_in', :default => "Ingresar"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
<div class="devise-links">
  <%= render "devise/shared/links" %>  
</div>
