
<div class="container">
  <div class="main">
    <div class="row">
      
      <div class="col-xs-4 col-xs-offset-4">
        
        <div class="form-account">
          
          <div class="form-heading">
            <h3>Ingresar al sistema</h3>
          </div><!--/ .form-heading-->
          
          <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { role: "form" }) do |f| %>
            <div class="form-entry">
              <p>
                <%= f.label :email %>
                <%= f.email_field :email, autofocus: true, class: "form-control" %>
              </p>
              
              <p>
                <%= f.label :password %>
                <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
              </p>
              
              <% if devise_mapping.rememberable? %>
                <p class="checkbox">
                  <%= f.label :remember_me do %>
                    <%= f.check_box :remember_me %>Remember Me
                  <% end %>
                </p>
              <% end %>
              
              <p>
                <!--<a href="#" class="button orange">Sign Up</a>-->
                <%= f.submit  t('.sign_in', :default => "Ingresar"), class: "btn btn-primary" %>
              </p>
              
              <p class="devise-links">
                <%= render "devise/shared/links" %>
              </p>
              
            </div><!--/ .form-entry-->
          <% end %>
          
        </div>
        
      </div>
      
    </div>
  </div>
</div>
