<div class="container" >
	<div class="col-lg-6 profile">
	  <div class="well">
	 	<div class="panel-heading">
   			 <h1 class="text-center">Perfil de Usuario</h1>
   		</div>
	    <fieldset>
	            <div class="form-group">
	            <label> Nombre: </label>
	                <%= @user.name %>
	            </div>
	            <div class="form-group">
				<label> E-mail: </label>
	                <%= @user.email %>
	            </div>
	            <div class="form-group">
				<label> Direcci&oacute;n: </label>
	                <%= @user.address %>
	            </div>
	            <div class="form-group">
				<label> Telefono: </label>
	                <%= @user.phone %>
	            </div>
		        <div class="form-group text-center">
			          <%= link_to "Editar", edit_user_registration_path(current_user), class: "btn btn-success pull-right btn-editar" %>    
		         </div>
	    </fieldset>
 	  </div>
	</div>
</div>