
<div class="container block-margin">
	<div class="main">
		<div class="row">
			<div class="col-lg-6 col-lg-offset-3 profile">
				
		 	  <div class="form-account">
        
        	<div class="form-heading">
        		<h3>Perfil de usuario</h3>
        	</div>
          
        	<div class="form-entry clearfix">
        		
      			<p>
      				<label> Nombre: </label>
			        <%= @user.name %>
      			</p>
      			
      			<p>
      				<label> E-mail: </label>
			        <%= @user.email %>
      			</p>
      			
      			<p>
      				<label> Teléfono: </label>
			        <%= @user.phone %>
      			</p>
      			
      			<p>
      			  <label> Dirección: </label>
			        <%= @user.address %>
      			</p>
        		
        		<div class="form-title"></div>
        		
        		<p>
        		  <%= link_to "Editar", edit_user_registration_path(current_user), class: "button orange btn-editar" %>
        		</p>
        		
        	</div>
        
        </div>
		 	  
			</div>
		</div>
	</div>
</div>