<script>
    $(document).ready(function() {
       $("#buscar").click(function(e) {
           e.preventDefault();
           var selected = $("#district").val();
           if (selected != "") {
               window.location = '<%= root_path %>' + "?district_id=" + selected; 
           } else {
               window.location = '<%= root_path %>';
           }
       });
    });
</script>
<section class="carousel">
  <div class="container">
    <div class="carousel-caption">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
          <h1 class="text-center">Encuentra los mejores estacionamientos aquí.</h1>
          <div class="input-group input-group-lg">
            <input type="text" class="form-control" placeholder="¿Dónde te deseas estacionar?">
            <span class="input-group-btn">
              <%= link_to "Buscar", parking_index_path, :class => "btn btn-primary" %>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<div class="container">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Busca <span class="text-muted"></span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5">
      <%= image_tag("placeholder.png", :alt => "placeholder", :class => "featurette-image img-responsive center-block") %>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 col-md-push-5">
      <h2 class="featurette-heading">Encuentra <span class="text-muted"></span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5 col-md-pull-7">
      <%= image_tag("placeholder.png", :alt => "placeholder", :class => "featurette-image img-responsive center-block") %>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Reserva <span class="text-muted"></span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5">
      <%= image_tag("placeholder.png", :alt => "placeholder", :class => "featurette-image img-responsive center-block") %>
    </div>
  </div>

</div>
