<div class="col-sm-6 col-md-4">
  <div class="thumbnail">
    <%= image_tag parking.photo.url(:medium), :alt => parking.name %>
    <div class="caption">
      <h3><%= parking.name %></h3>
      <p><%= parking.description %></p>
      <%= link_to "Ver detalles", parking_details_path(@parking), :class => "btn btn-primary" %>
      <%= link_to "Reservar", booking_index_path(@parking), :class => "btn btn-primary" %>
    </div>
  </div>
</div>