
<div class="container" style="padding: 5% 0;">
  <div class="row">
    <div class="col-lg-8">
      
      <div class="row">
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <!--<img src="placeholder.png" alt="...">-->
            <%= image_tag("placeholder.png", :alt => "placeholder") %>
            <div class="caption">
              <h3>Title</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <%= link_to "Reservar", root_path, :class => "btn btn-primary" %>
            </div>
          </div>
        </div>
        
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <!--<img src="placeholder.png" alt="...">-->
            <%= image_tag("placeholder.png", :alt => "placeholder") %>
            <div class="caption">
              <h3>Title</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <%= link_to "Reservar", root_path, :class => "btn btn-primary" %>
            </div>
          </div>
        </div>
        
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <!--<img src="placeholder.png" alt="...">-->
            <%= image_tag("placeholder.png", :alt => "placeholder") %>
            <div class="caption">
              <h3>Title</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <%= link_to "Reservar", root_path, :class => "btn btn-primary" %>
            </div>
          </div>
        </div>
        
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <!--<img src="placeholder.png" alt="...">-->
            <%= image_tag("placeholder.png", :alt => "placeholder") %>
            <div class="caption">
              <h3>Title</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <%= link_to "Reservar", root_path, :class => "btn btn-primary" %>
            </div>
          </div>
        </div>
        
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <!--<img src="placeholder.png" alt="...">-->
            <%= image_tag("placeholder.png", :alt => "placeholder") %>
            <div class="caption">
              <h3>Title</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <%= link_to "Reservar", root_path, :class => "btn btn-primary" %>
            </div>
          </div>
        </div>
        
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <!--<img src="placeholder.png" alt="...">-->
            <%= image_tag("placeholder.png", :alt => "placeholder") %>
            <div class="caption">
              <h3>Title</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <%= link_to "Reservar", root_path, :class => "btn btn-primary" %>
            </div>
          </div>
        </div>
      </div>
      
    </div>
    
    <div class="col-lg-4">
      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Fecha</div>
        <div class="panel-body">
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
              característica
            </label>
          </div>
        </div>
      </div>
      
      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Características</div>
        <div class="panel-body">
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
              característica
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
              característica
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
              característica
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
              característica
            </label>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>
