
<div class="container block-margin">
  <div class="row">
    <div class="col-lg-8">
      
      <div class="row">
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <%= image_tag("placeholder.png", :alt => "placeholder") %>
            <div class="caption">
              <h3>Title</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <%= link_to "Ver detalles", parking_detail_path, :class => "btn btn-primary" %>
              <%= link_to "Reservar", search_details_path, :class => "btn btn-primary" %>
            </div>
          </div>
        </div>
        
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <%= image_tag("placeholder.png", :alt => "placeholder") %>
            <div class="caption">
              <h3>Title</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <%= link_to "Ver detalles", search_details_path, :class => "btn btn-primary" %>
              <%= link_to "Reservar", search_details_path, :class => "btn btn-primary" %>
            </div>
          </div>
        </div>
        
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <%= image_tag("placeholder.png", :alt => "placeholder") %>
            <div class="caption">
              <h3>Title</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <%= link_to "Ver detalles", search_details_path, :class => "btn btn-primary" %>
              <%= link_to "Reservar", search_details_path, :class => "btn btn-primary" %>
            </div>
          </div>
        </div>
        
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <%= image_tag("placeholder.png", :alt => "placeholder") %>
            <div class="caption">
              <h3>Title</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <%= link_to "Ver detalles", search_details_path, :class => "btn btn-primary" %>
              <%= link_to "Reservar", search_details_path, :class => "btn btn-primary" %>
            </div>
          </div>
        </div>
        
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <%= image_tag("placeholder.png", :alt => "placeholder") %>
            <div class="caption">
              <h3>Title</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <%= link_to "Ver detalles", search_details_path, :class => "btn btn-primary" %>
              <%= link_to "Reservar", search_details_path, :class => "btn btn-primary" %>
            </div>
          </div>
        </div>
        
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <%= image_tag("placeholder.png", :alt => "placeholder") %>
            <div class="caption">
              <h3>Title</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <%= link_to "Ver detalles", search_details_path, :class => "btn btn-primary" %>
              <%= link_to "Reservar", search_details_path, :class => "btn btn-primary" %>
            </div>
          </div>
        </div>
      </div>
      
    </div>
    
    <div class="col-lg-4">
      <div class="panel panel-default">
        <div class="panel-heading">Filtros</div>
        
        <div class="panel-body">
          <div class="form-group">
            <label for="cbodistrito">Dónde</label>
            <select class="form-control">
              <option>Distrito</option>
              <option>Surco</option>
              <option>San Isidro</option>
              <option>Miraflores</option>
              <option>San Borja</option>
            </select>
          </div>
          <div class="form-group">
            <label for="txtdate">Cuándo</label>
            <input type="date" class="form-control">
          </div>
          <div class="form-group">
            <label for="txthour">Hora</label>
            <input type="text" class="form-control">
          </div>
        </div>
        
        <hr>
        
        <div class="panel-body">
          <label for="txthour">Características</label>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
              característica
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
              característica
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
              característica
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
              característica
            </label>
          </div>
        </div>
        
        <hr>
        
        <div class="panel-body">
          <label>Precio</label>
          
          <div class="row">
            <div class="col-sm-5">
              <div class="form-group">
                <label class="sr-only" for="">Desde</label>
                <input type="text" class="form-control" id="" placeholder="S/.">
              </div>
            </div>
            
            <div class="col-sm-5">
              <div class="form-group">
                <label class="sr-only" for="">Hasta</label>
                <input type="text" class="form-control" id="" placeholder="S/.">
              </div>
            </div>
            
            <div class="col-sm-2">
              <%= link_to '<span class="glyphicon glyphicon-align-left"></span>'.html_safe, '#', :class => 'btn btn-default' %>
            </div>
          </div>
          
        </div>
        
      </div>
    </div>
    
  </div>
</div>
