<div class="col-sm-6 col-md-4">
  <div class="thumbnail">
    <%= image_tag parking.photo.url(:medium), :alt => parking.name %>
    <div class="caption">
      <h3><%= parking.name %></h3>
      <p><%= parking.description %></p>
      <%= link_to "Ver detalles", params.has_key?(:time) ? parkdetailstime_path(parking, params[:time]) : parkdetails_path(parking), :class => "btn btn-primary" %>
      <%= link_to "Reservar", params.has_key?(:time) ? bookingtime_path(parking, params[:time]) : booking_path(parking), :class => "btn btn-primary" %>
    </div>
  </div>
</div>